<!--
  Created by IntelliJ IDEA.
  User: batul
  Date: 08.12.2023
  Time: 18:11
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update User Information</h1>
<br/>
<form th:action="@{/updateUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    Name: <input type="text" th:field="*{name}" required="true"/>
    <br/><br/>
    Surname: <input type="text" th:field="*{lastname}" required="true"/>
    <br/><br/>
    Age: <input type="number" th:field="*{age}" required="true"/>
    <br/>
    <input type="submit" value="Update">
</form>
</body>
</html>